.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#button{
    margin-top: 30px;
    height: 50px;
    width: 150px;
    font-size: 25px;
}
.caixaMae {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:  100px 100px 100px;
}

.item {
    border: solid 4px black;
    height: 100px;
    width: 100px;
    display: flex;
    font-size: 80px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inputs {
    border: 0px;
    height: 80px;
    width: 80px;
    display: flex;
    font-size: 80px;
    text-align: center;
}

.linhaCima {
    border-top: 0px;
    border-bottom: 0px;
}

.linhaBaixo {
    border-bottom: 0px;
    border-top: 0px;
}

.colunaUm {
    border-left: 0px;
    border-right: 0px;
}

.colunaTres {
    border-right: 0px;
    border-left: 0px;
}